.scores {
  display: flex;
  padding: 0.5em;
  height: 50%;
  flex-direction: row;
  flex-wrap: wrap;
}

.adjust-team-a-col, .adjust-team-b-col {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.scoreboard {
  align-items: center;
  display: flex;
  flex: 4;
  justify-content: center;
}
