.clock {
  align-self: center;
}

.countdown-timer {
  font-size: 7em;
  font-family: orbitron;
}

.buttons {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.timer-btn {
  width: 7.5em;
}
